<div class="jumbotron text-center mt-5">
    <h1 class="display-4">
        About
    </h1>
    <p class="lead">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi, recusandae aperiam. Saepe doloremque ab
        earum necessitatibus nostrum, officiis repellat delectus asperiores architecto fugit. Numquam quo qui rem
        suscipit totam rerum.
    </p>
</div>